
.NavBar {
  background-image: linear-gradient(to right, #E7D6FF, #F6F2FE, #E7D6FF, #F8F5FE, #E7D6FF);
  margin: 15px 30px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 15px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.3);
}

.NavContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  padding-left: 30px;
  height: 39px;
}

.NavLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.NavLinks li {
  display: relative;
  margin-left: 20px;
  font-family: Syncopate;
  font-weight: bold;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
}

.NavLinks li:first-child {
  margin-left: 0;
}

.NavLinks a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.NavLinks a:hover {
  color: #0141A3;
}

.NavLinks li:nth-child(2) a {
  color: #7D9BD1;
  -webkit-text-stroke-color: #0141A3;
  -webkit-text-stroke-width: 1px;
}

.NavLinks li:nth-child(2) a:hover {
  color: #0141A3;
}

.NavButton {
  margin-right: 30px;
  font-family: Syncopate;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 15px;
  background-color: #99B0DB;
  color: black;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.NavButton:hover {
  color: #F8F5FE;
}