
.BookshelfBackground {
  position: absolute;
  top: 425px; /* Match this to .NavBar's margin */
  left: 0px; /* Match this to .NavBar's margin */
  right: 0px; /* Match this to .NavBar's margin */
  height: 375px; /* Adjust this to match the height of .NavBar */
  background-color: #E4DBF2; /* Adjust color and opacity */
  z-index: 1; /* Behind .NavBar which has z-index: 2 */
}

.BookshelfSection {
  margin: 15px 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 15px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.B-Container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 200px);
  row-gap: 20px;
  column-gap: 40px;
  align-items: center;
  justify-content: center;
}

.B-Genres {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F8F5FE;
  border: 1px solid #000000;
  border-radius: 12px;
}

.B-img {
  width: auto;
  height: 100px;
}

.B-Title {
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  font-family: Syncopate;
  font-size: 10px;
}

.B-Title img {
  margin-right: 20px;
  width: auto;
  height: 30px;
}

/* Main Section Here */

.MainSection {
  text-align: center;
  margin: 25px 30px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.M-Container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MainSection h2 {
  font-family: Syncopate;
  font-size: 18px;
  color: black;
}

.Box {
  width: auto; /* Adjust width as needed */
  margin: 20px;
  padding: 20px;
  background-color: #F3EBFF;
  border: 1px solid #99B0DB;
  border-radius: 10px;
  display: flex;
}

.Box img {
  max-width: auto;
  height: 150px;
  margin-right: 20px;
  padding: 30px;
}

.Content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.Content p {
  margin-bottom: 10px;
  font-family: Syncopate;
  border-left: 2px solid #0141A3;
  padding-left: 7px;
}

.Content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #99B0DB;
  color: #000000;
  font-family: Stint Ultra Expanded;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Content button:hover {
  background-color: #0141A3;
  color: #F8F5FE;
}

/* Challenge Section Here */

.ChallengeSection {
  margin: 25px 30px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.C-Container {
  justify-content: center;
align-items: center;
}

.C-Container h2 {
align-self: center;
font-family: Syncopate;
font-size: 15px; 
}

.C-Container p {
align-self: center;
font-family: Stint Ultra Expanded;
font-size: 16px;
}

.C-Books {
padding: 20px;
display: grid;
grid-template-columns: repeat(5, 150px);
grid-template-rows: repeat(2, 200px);
row-gap: 50px;
column-gap: 70px;
align-items: center;
justify-content: center;
}

.C-Recs {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #E4DBF2;
border-radius: 10px;
width: 150px;
height: 200px;
padding: 5px 10px;
margin: 10px;
}

.C-Recs img {
width: auto;
height: 150px;
}

.C-Recs h3 {
align-self: center;
font-family: Syncopate;
font-size: 14px;
}

.C-Button {
  font-family: Stint Ultra Expanded;
  padding: 10px 20px;
  background-color: #99B0DB;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 7px;
  margin-bottom: 20px;
  transition: background-color 0.3s;
  cursor: pointer; 
  align-self: center;
}

.c-Button:hover {
  background-color: #0141A3;
  color: #F8F5FE;
  border-color: #7D9BD1;
}